@font-face {
    font-family: FIFA;
    src: url(/assets/EASports.ttf);
}

body {
    height: 100%;
    background: rgb(12, 12, 12);
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: transparent!important;
    margin-bottom: 3%;
}

.playerImg {
    margin: auto;
    height: 350px;
}

.attributes_card {
    box-shadow: 5px 5px 4px #888888;
    margin: 10px;
    background-color: black;
    
}

.card-title2 {
    text-align: end;
    color: white;
}

.card-title1 {
    /* text-align: end; */
    /* background-color: rgb(193, 18, 18); */
    color: white;
}
.dropDown{
    color: black;
}

/* .card {
    font-size: 30px;
} */

.card_info2 {
    text-align: end;
    color:rgb(255,171,0);
}
.card_info1 {
    color:cyan;
}
#age_slider {
    margin: 5% 5% 5% 0%;
    padding: 1%;
}

#label1 {
    color:aliceblue;
    font-size: 250%;
    /* text-decoration-line: underline; */
    text-decoration-style: solid;
    
}
.label2 {
    color:aliceblue;
    font-size: 100%;  
}

.controls {
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 45%;
    background-color: black;
    color: white;
    
}

.controls_players {
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 10%;
    background-color: black;
    color: white;

}

.LeagueBarPlot{
    box-shadow: 5px 10px 8px #888888;
    background-color: black;
    border-radius: 10px;
    /* color: white; */
}

/* .mt-3{
    color: white;
} */

.rc-slider-track {
    background-color: rgb(255,171,0);
}
  
.rc-slider-dot-active {  
    border-color: rgb(255,171,0);
    border: solid 2px rgb(255,171,0);
}
  
.rc-slider-handle {
    background-color: rgb(255,171,0);
    border-color: rgb(255,171,0);
}
  
.rc-slider-handle:hover {
    border-color: rgb(255,171,0);
}
  
.rc-slider-handle-active:active {
    border-color: rgb(255,171,0);
}

.nav-link {
    color:white;
}

.nav-link:hover{
    color: rgb(248, 236, 236);
    border: transparent;
}
